/Prog08Notes/nbproject/private/
/Prog08Notes/build/
/Prog09Joc/nbproject/private/
/Prog09Joc/build/
/AlzinaAlomarProg11/nbproject/private/
/AlzinaAlomarProg11/build/
/ProjecteProg10/nbproject/private/
/ProjecteProg10/build/
/AlzinaAlomarGabrielPROG11/nbproject/private/
/AlzinaAlomarGabrielPROG10/nbproject/private/
/AlzinaAlomarGabrielPROG10/build/
/exercici01_01/nbproject/private/
/exercici01_01/build/
/Exercici01_02/nbproject/private/
/Exercici01_01/nbproject/private/
/Exercici01_01/build/
/Exercici01_02/build/
/Exercici01_03/nbproject/private/
/Exercici01_03/build/
/Exercici01_04/nbproject/private/
/Exercici01_04/build/
/Exercic01_06/nbproject/private/
/Exercic01_06/build/
/Exercici01_07/nbproject/private/
/Exercici01_07/build/
/Exercici01_08/nbproject/private/
/Exercici01_08/build/
/Exercici01_09/nbproject/private/
/Exercici01_09/build/
/Exercici01_10/nbproject/private/
/Exercici01_10/build/
/Exercici01_12/nbproject/private/
/Exercici01_12/build/
