/Prog08Notes/nbproject/private/
/Prog08Notes/build/
/Prog09Joc/nbproject/private/
/Prog09Joc/build/
/AlzinaAlomarProg11/nbproject/private/
/AlzinaAlomarProg11/build/
/ProjecteProg10/nbproject/private/
/ProjecteProg10/build/
/AlzinaAlomarGabrielPROG11/nbproject/private/
/AlzinaAlomarGabrielPROG10/nbproject/private/
/AlzinaAlomarGabrielPROG10/build/
/exercici01_01/nbproject/private/
/exercici01_01/build/
